@media (max-width: 1099px) {

    html {
        width: 100%;
        overflow-x: hidden;
    }

    header,
    #home-encompass {
        height: 100vh;
    }

    nav ul {
        margin: 0;
    }

    .mobile-head-nav {
        margin: 0;
        padding: 0;
    }

    .mobile-head-nav-hr  {
        margin-top: 0;
    }

    .hr-styled {
        padding: 0;
        margin: 0;
    }

    .wallpaper-front {
        width: 0;
        height: 0;
    }

    .wallpaper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding-left: 0;
        z-index: -4;
        background: rgb(83, 77, 107, .1);
    }

    .item,
    .item-web {
        flex: 0 0 50%;
        margin: 0%;
    }

    .mobile-display {
        display: block;
    }

    #home-encompass,
    #webdev-encompass,
    #misc-encompass {
        height: 100%;

    }

    .misc-encompass {
        height: 100%;
    }

    #about #about-encompass,
    #webdev #webdev-encompass,
    #misc #misc-encompass {
        visibility: visible;
    }

    .abt-img {
        display: none;
    }

    #wrapper {
        display: none;
    }


    .tbl-col-misc,
    .tbl-col-misc-2 {
        width: 33%;
    }

    .tbl-col-misc-40,
    .tbl-col-misc-40:hover {
        background: none;
        width: 100%;
    }

    #GitHub {
        display: block;
        margin: -15px 0 10px 0;
    }

    #image {
        width: 90%;
        height: auto;
        margin: 0;
    }

    section ul {
        margin: 20px 0;
    }

    .modal-content {
        width: 100%;
    }

    .header-text-1,
    .header-text-2 {
        font-size: 35px;
    }

    .scrolldown {
        display: none;
    }

    .scroll_btn {
        background: url(../img/icons/scroll.gif) 50% 50% no-repeat rgba(50, 50, 50, 1);
        background-size: 90%;
        opacity: .85;
        display: block;
        height: 60px;
        width: 60px;
        position: absolute;
        bottom: 0;
        background-color: rgb(250, 99, 99);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .tbl-col-front-end-l img {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}